Import the necessery modules

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('strong.csv')
df.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
0,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,1,70.0,5,0.0,0,NaN,NaN,NaN
1,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,2,70.0,5,0.0,0,NaN,NaN,NaN
2,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,3,90.0,5,0.0,0,NaN,NaN,NaN
3,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,4,90.0,5,0.0,0,NaN,NaN,NaN
4,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,5,90.0,5,0.0,0,NaN,NaN,NaN

 Find all the times I cycled this year

In [3]:
currentyr = df[df['Date'].str.match('2019')]
currentyr.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
1558,2019-07-18 20:00:00,Boxing,Boxing,1,0.0,0,0.00,5400,NaN,NaN,NaN
1559,2019-07-19 12:14:00,Afternoon Workout,Running,1,0.0,0,4.00,1920,300 cal,NaN,NaN
1560,2019-07-23 20:00:00,Boxing,Boxing,1,0.0,0,0.00,5400,NaN,NaN,NaN
1561,2019-07-26 20:05:00,Zomaar Bike,Cycling,1,0.0,0,31.60,9960,NaN,NaN,NaN
1562,2019-07-28 02:48:00,Afternoon Workout,Running,1,0.0,0,2.28,1800,114 calories,NaN,NaN

In [4]:
calc = currentyr[currentyr['Exercise Name'] == 'Cycling']

Calculate the total amount of kms cycled and calculate an average per session

In [5]:
calc

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
1561,2019-07-26 20:05:00,Zomaar Bike,Cycling,1,0.0,0,31.60,9960,NaN,NaN,NaN
1570,2019-08-05 12:23:42,Midday Workout,Cycling,1,0.0,0,15.78,2040,277 cal,NaN,NaN
1574,2019-08-07 12:06:53,Midday Workout,Cycling,1,0.0,0,20.00,2630,338 cal,NaN,NaN
1578,2019-08-15 14:55:31,Afternoon Workout,Cycling,1,0.0,0,15.69,2100,252 cal,NaN,NaN
1585,2019-08-16 12:06:12,Midday Workout,Cycling,1,0.0,0,23.12,2400,378 cal,NaN,NaN
1591,2019-08-21 12:14:12,Midday Workout,Cycling,1,0.0,0,24.10,3000,394 cal,NaN,NaN
1592,2019-08-26 12:06:00,Midday Workout,Cycling,1,0.0,0,32.48,3600,482 cal,NaN,NaN
1596,2019-09-09 12:29:15,Midday Workout,Cycling,1,0.0,0,10.50,1320,NaN,NaN,NaN
1606,2019-09-10 12:14:22,Midday Workout,Cycling,1,0.0,0,8.20,900,153 cal﻿57 cal,NaN,NaN
1607,2019-09-10 12:14:22,Midday Workout,Cycling,2,0.0,0,3.61,480,NaN,NaN,NaN
1609,2019-09-25 12:38:52,Midday Workout,Cycling,1,0.0,0,12.40,1200,226 cal,NaN,NaN
1619,2019-09-27 12:28:07,Midday Workout,Cycling,1,0.0,0,11.18,1200,191 cal,NaN,NaN
1629,2019-09-30 21:01:58,Evening Workout,Cycling,1,0.0,0,9.81,1200,174 cal,NaN,NaN
1640,2019-10-01 13:55:51,Midday Workout,Cycling,1,0.0,0,11.98,1200,240 cal,NaN,NaN
1645,2019-10-22 19:22:28,Evening Workout,Cycling,1,0.0,0,15.27,1800,283 cal,NaN,NaN
1655,2019-10-25 12:16:52,Midday Workout,Cycling,1,0.0,0,14.88,1800,NaN,NaN,NaN
1660,2019-10-27 14:47:59,Afternoon Workout,Cycling,1,0.0,0,15.78,2040,245 cal,NaN,NaN
1664,2019-10-29 12:11:10,Midday Workout,Cycling,1,0.0,0,7.74,900,NaN,NaN,NaN
1676,2019-10-30 20:10:16,Evening Workout,Cycling,1,0.0,0,13.92,1980,195 cal,NaN,NaN
1680,2019-11-03 21:02:19,Evening Workout,Cycling,1,0.0,0,10.23,1200,193 cal,NaN,NaN
1691,2019-11-06 12:34:21,Midday Workout,Cycling,1,0.0,0,10.57,1200,I 222 cal,NaN,NaN
1706,2019-11-14 12:37:44,Midday Workout,Cycling,1,0.0,0,7.78,900,180 cal,NaN,NaN
1722,2019-11-15 12:27:33,Midday Workout,Cycling,1,0.0,0,13.38,1320,245 cal,NaN,NaN
1732,2019-11-17 20:06:19,Evening Workout,Cycling,1,0.0,0,25.57,3600,362 cal,NaN,NaN
1741,2019-11-18 13:00:38,Midday Workout,Cycling,1,0.0,0,13.11,1320,250 cal,NaN,NaN
1748,2019-11-19 12:16:08,Midday Workout,Cycling,1,0.0,0,15.45,1800,298 cal,NaN,NaN
1756,2019-12-04 12:53:32,Midday Workout,Cycling,1,0.0,0,10.80,1200,209 cal,NaN,NaN
1767,2019-12-05 13:01:31,Midday Workout,Cycling,1,0.0,0,10.96,1200,220 cal,NaN,NaN
1773,2019-12-05 22:27:13,Evening Workout,Cycling,1,0.0,0,15.38,1800,293 cal,NaN,NaN
1800,2019-12-09 22:34:00,Evening Workout,Cycling,1,0.0,0,15.32,1800,260 cal,NaN,NaN
1801,2019-12-10 12:17:39,Midday Workout,Cycling,1,0.0,0,18.30,1800,337 cal,NaN,NaN
1808,2019-12-12 13:47:22,Midday Workout,Cycling,1,0.0,0,35.33,3600,598 cal,NaN,NaN
1809,2019-12-16 13:12:32,Midday Workout,Cycling,1,0.0,0,12.44,1200,255 cal,NaN,NaN
1816,2019-12-17 12:20:45,Midday Workout,Cycling,1,0.0,0,10.87,1200,190 cal,NaN,NaN
1825,2019-12-19 13:00:36,Midday Workout,Cycling,1,0.0,0,17.71,1800,357 cal,NaN,NaN
1836,2019-12-20 20:14:54,Evening Workout,Cycling,1,0.0,0,15.25,1800,286 cal,NaN,NaN
1849,2019-12-23 12:19:02,Midday Workout,Cycling,1,0.0,0,10.44,1200,230 cal,NaN,NaN

In [6]:
total = calc['Distance'].sum()
total

566.9300000000001

In [7]:
amount_of_sessions = calc.shape[0]

In [8]:
averagedist = total/amount_of_sessions
averagedist

15.322432432432434

In [9]:
meandistance = calc['Distance'].mean()
meandistance

15.322432432432434

In [10]:
mediandistance = calc['Distance'].median()
mediandistance

13.92