Import the necessary modules

In [1]:
import pandas as pd

Loading in the dataset

In [2]:
df = pd.read_csv('strong.csv')
df.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
0,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,1,70.0,5,0.0,0,NaN,NaN,NaN
1,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,2,70.0,5,0.0,0,NaN,NaN,NaN
2,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,3,90.0,5,0.0,0,NaN,NaN,NaN
3,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,4,90.0,5,0.0,0,NaN,NaN,NaN
4,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,5,90.0,5,0.0,0,NaN,NaN,NaN

Adding an column that calculates the weigt lifted per set

In [3]:
df['Lifted'] = (df['Weight'] * df['Reps'] ) 
df.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE,Lifted
0,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,1,70.0,5,0.0,0,NaN,NaN,NaN,350.0
1,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,2,70.0,5,0.0,0,NaN,NaN,NaN,350.0
2,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,3,90.0,5,0.0,0,NaN,NaN,NaN,450.0
3,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,4,90.0,5,0.0,0,NaN,NaN,NaN,450.0
4,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,5,90.0,5,0.0,0,NaN,NaN,NaN,450.0

Making a pivot table that shows the total amount lifted per exercis

In [4]:
pivot = df.pivot_table(index = ['Exercise Name'], values = ['Lifted'], aggfunc = 'sum')
pivot

                                    Lifted
Exercise Name
Behind Neck Press                   2940.0
Bench Press (Barbell)              15467.5
Bench Press (Dumbbell)               800.0
Bent Over Row (Barbell)             1800.0
Bicep Curl (Dumbbell)               3350.0
Bicycle Crunch                         0.0
Boxing                                 0.0
Cable Crossover                      590.0
Chest Fly                           2610.0
Cross                                  0.0
Cycling                                0.0
Deadlift (Barbell)                  9000.0
Flat Leg Raise                         0.0
Incline Bench Press (Barbell)       5796.0
Incline Bench Press (Dumbbell)      1908.0
Lat Pulldown                      109030.0
Lateral Raise (Custom)              9252.0
Lateral Raise (Dumbbell)            1192.0
Leg Extension                      17075.0
Leg Press                           1480.0
Overhead Press (Barbell)             370.0
Overhead Press (Dumbbell)          30216.0
Pectoral Fly (Custom)               4375.0
Plank                                  0.0
Pull Up                                0.0
Rear Delt                          24435.0
Running                                0.0
Russian Twist                          0.0
Seated Overhead Press (Dumbbell)    6720.0
Seated Row (Custom)                30520.0
Side Plank                             0.0
Sit Up                                 0.0
Squash                                 0.0
Squat (Barbell)                    23985.0
Standing Calf Raise (Machine)      78280.0

In [5]:
total = df.Lifted.sum()
total

381191.5